<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="OrangeHRM TestSuite">


  <test thread-count="5" name="LoginModule">
    <classes>
      <class name="TestCases.LoginTest">
        <methods>
          <include name="Valid_login"></include>
          <include name="invalid_login"></include>
        </methods>
      </class>
    </classes>
  </test> 
  
   <test thread-count="5" name="ForgotPasswordModule">
    <classes>
      <class name="TestCases.ForgotPasswordTest">
        <methods>
          <include name="ForgotPw_click"></include>
          <include name="ForgotPw_valid"></include >
          <include name="ForgotPw_Invalid"></include>
        </methods>
      </class>
    </classes>
  </test> 
  
  

</suite> <!-- OrangeHRM TestSuite -->
